<div>
    <h1>{{personName}} was a castmember in:</h1>
    
    <div id="cast-movies" ng-if="castCredits.length" style="overflow-x:hidden;overflow-y:scroll">
        <div ng-repeat="credit in castCredits track by (personName + credit.id)">
            <div style="float: left; margin: 10px; width: 100px; height: 150px;cursor:pointer" 
                ng-if="credit.poster_path"
                ng-click="credit.media_type='movie';$emit('navToItem', credit)"
            >
                <div 
                    title="{{ credit.title }} as {{ credit.character }}"
                >
                    <img src="{{view.images}}{{ credit.poster_path }}" title="{{ credit.title }} as {{ credit.character }}" width="65" height="97" ng-if="credit.poster_path" />
                </div>
                <br />
                    {{ credit.title }}
            </div>
        </div>
    </div>
    
    <div ng-if="!castCredits.length" >
        (no results found)
    </div>
</div>