<div>
    <div style="padding-top:40px;font-size:40px;font-family:impact;color:#ff7f00;text-shadow: 3px 3px black, 0 1px black, 1px 0 black, 0 -1px black;width:120px;-webkit-transform:scale(1,2);-moz-transform:scale(1,2);-ms-transform:scale(1,2);-o-transform:scale(1,2);transform:scale(1,2);margin-left:auto;margin-right:auto;margin-bottom:20px"
    >
        'LERTFLIX
    </div>
        
    <div style="margin-left:auto;margin-right:auto;width:250px;padding-top:20px">
        <search set-parent-item="setItem(item)" />
    </div>
    
    <results ng-if="chosenItem" chosen-item="chosenItem" results-changed="resultsChanged()" style="padding:20px"/>
</div>